<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
   

    .fa {
      padding: 20px;
      font-size: 24px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }



    p {
      text-align: center;

    }
  </style>
</head>

<footer>

  
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#cec6c6;background-color: black;   position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;" class="wow fadeInUp footer-copyright">
          <p>ADGITM <br>
            Copyright &copy; SNAgNAy 2021 </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
